body {
  font-family: sans-serif;
}

h1 {
  font-size: 3em;
}

a {
  text-decoration: none;
}

/* ------------ CLASSES ----------- */

.div-contenido-body {
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.header-index,
.header-experience,
.header-library,
.header-hobbies,
.header-contacto {
  display: inline-block;
  width: 100%;
}

.div-img-portada {
  display: inline-block;
  max-width: 100%;
  padding: 0 2%;
}

.img-portada {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.table-datos-presentacion {
  top: 100px;
  margin-top: -14%;
}

.table-experience {
  width: 10%;
  margin: 0 auto;
  border-spacing: 1em;
}

.div-icon-jobs {
  width: 100%;
}

.img-icon-job {
  display: block;
  width: 100%;
}

.img-icon-job:hover {
  filter: drop-shadow(0 0 0.75rem #5e9ad6);
}

.td-foto-perfil {
  padding-right: 1.5%;
  width: 20%;
}

.img-foto-perfil {
  display: inline;
  width: 100%;
  height: auto;
  border: 2px solid #32454e;
  border-radius: 100%;
  margin-top: 2%;
  margin-right: 20px;

  box-shadow: 0px 0px 40px 60px #e6e6de inset, 0px 0px 40px 60px #e6e6de;
}

.footer-index {
  max-width: 900px;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
}

.div-figure {
  width: 100%;
  height: auto;
}

.div-titulo-h1 {
  text-align: center;
  display: inline;
  float: left;
  clear: left;
  top: 100px;
  width: 100%;
  margin-top: -51%;
}

.circulo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(251, 250, 245);
  background: radial-gradient(
    circle,
    rgba(251, 250, 245, 1) 0%,
    rgba(70, 135, 194, 1) 100%
  );
}

.div-hr-1 {
  display: inline-block;
  width: 100%;
}

.hr-1 {
  max-width: 900px;
  border: 0;
  height: 3.5px;

  background-image: -webkit-gradient(
    linear,
    100% 0%,
    0% 0%,
    from(#e4efd8),
    to(#e4efd8),
    color-stop(0.5, #085370)
  );
  text-align: center;
}

.img-end {
  width: 25%;
  margin: 0 auto;
  display: block;
  transition: 1s ease;
}

.img-end:hover {
  -webkit-filter: blur(5px);
  transition: 1s ease;
}

.gallery {
  max-width: 900px;
}

.nav-rrss {
  display: block;
}
.link-rrss {
  margin: 2% 2%;
}

.ico-rrss {
  width: 2.4rem;
}

.div-redes-sociales {
  margin: 16% 3% 5% 3%;
}

/*--------------IDS--------------*/
#p-nombre {
  margin-top: 2%;
}

#p-descripcion-corta {
  font-size: 2rem;
}

#body-index {
  background-color: rgb(228, 239, 216);
}

#body-experience {
  background-color: #f2f2f0;
}

#body-hobbies {
  background-color: #000e10;
  color: #f9fdfd;
}

#body-library {
  background-color: #d0eefa;
}

#body-contacto {
  background-color: #edeae6;
}

#hr-experience {
  background-image: -webkit-gradient(
    linear,
    100% 0%,
    0% 0%,
    from(#f6f4ec),
    to(#f6f4ec),
    color-stop(0.5, #5e9ad6)
  );
}

#hr-library {
  background-image: -webkit-gradient(
    linear,
    100% 0%,
    0% 0%,
    from(#d0eefa),
    to(#d0eefa),
    color-stop(0.5, #0277b3)
  );
}

#hr-hobbies {
  background-image: -webkit-gradient(
    linear,
    100% 0%,
    0% 0%,
    from(#000e10),
    to(#000e10),
    color-stop(0.5, #5a8c87)
  );
}

#hr-contacto {
  background-image: -webkit-gradient(
    linear,
    100% 0%,
    0% 0%,
    from(#edeae6),
    to(#edeae6),
    color-stop(0.5, #aaa08a)
  );
}

#img-mountain-blue {
  background-color: #e4efd8;
}

#img-blue-valley {
  background-color: #f6f4ec;
}

#img-sky {
  background-color: #03061b;
}

#img-callme {
  background-color: #d0eefa;
}

#img-hills {
  background-color: white;
}

#img-bird-hobbies {
  max-width: 150px;
  height: auto;
}

#img-bird-library {
  max-width: 100px;
  height: auto;
}

#id-ico-workplace:hover {
  filter: drop-shadow(0 0.1rem 0.55rem #4326c4);
}

#id-ico-in:hover {
  filter: drop-shadow(0 0.1rem 0.55rem #0077b7);
}

#id-ico-github:hover {
  filter: drop-shadow(0 0.1rem 0.55rem black);
}

#id-ico-spotify:hover {
  filter: drop-shadow(0 0.1rem 0.55rem #18d860);
}

#img-mountain-blue:hover {
  box-shadow: 0 0 11px rgb(144, 226, 181);
}

#img-blue-valley:hover {
  box-shadow: 0 0 11px rgba(97, 148, 191, 1);
  background-color: #e5f1fb;
}

#img-sky {
  background-color: white;
}

#img-sky:hover {
  box-shadow: 0 0 11px rgb(255, 255, 255, 1);
  background-color: #000e10;
}

#img-callme:hover {
  box-shadow: 0 0 11px rgba(1, 112, 172, 1);
  background-color: white;
}

#img-hills:hover {
  box-shadow: 0 0 11px rgba(170, 160, 138, 1);
  background-color: white;
}

#ol-hobbies {
  list-style-position: inside;
  list-style-type: disc;
  text-align: left;
}

#div-gallery {
  max-width: 900px;
  text-align: center;
}
#id-gallery {
  width: 100%;
  height: auto;
}

#div-cv {
  margin-top: 2%;
  margin-bottom: 2%;
}

#form-mensaje {
  width: 100%;
  height: auto;
  margin-top: 2%;
}

#id-area-texto {
  width: 50%;
  height: 200px;
  max-width: 900px;
}

/* -------------- SELECTORS ----------- */
.table-experience tr > td {
  vertical-align: middle;
  text-align: center;
}
#art-experience > * {
  text-align: center;
}

.table-experience > thead {
  font-size: 2em;
}

.td-datos-personales p:first-child {
  font-size: 200%;
}

.td-datos-personales p:last-child {
  font-size: 1rem;
}

.nav-footer a > img {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.nav-footer > a {
  display: inline-block;
  padding: 0 0.5% 1.5%;
}

.nav-footer img.grow {
  transition: 1s ease;
}

.nav-footer img.grow:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#nav-bar-index > a {
  margin: 0% 0% 2%;
}

.nav-footer a > p {
  margin: 0;
  color: #02546a;
  font-weight: bold;
}

.nav-footer a:visited {
  color: #02546a;
  font-weight: bold;
}

#td-datos-personales > p {
  text-align: left;
}

#nav-bar-index a > img {
  width: 10rem;
  height: 10rem;
}

#nav-footer-hobbies a > p {
  color: #02546a;
}

#nav-footer-hobbies a > p:visited {
  color: #02546a;
}

#ol-hobbies > li {
  margin-bottom: 1%;
}

#div-cv > a {
  color: #02546a;
  transition: 0.3s ease;
}
#div-cv > a:hover {
  color: #02546a;
  font-weight: bold;
}

#div-cv > a:active {
  color: red;
}

#div-titulo-h1 > h1 {
  color: #e4efd8;
}

#form-mensaje > div {
  margin-bottom: 2%;
}

.button {
  border-radius: 4px;
  background-color: #914c4a;
  border: none;
  padding: 1% 1%;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.button:hover:after {
  opacity: 1;
  right: 10px;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
